/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.hide-display{
  opacity:0;
  transition:opacity 1s;
}
.show-display{
  opacity:1;
  transition:opacity 1s;
}